<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.belajarandroid.belajarjava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarJava">
        <activity
            android:name=".ScopeActivity"
            android:exported="false" />
        <activity
            android:name=".RecursiveMthodActivity"
            android:exported="false" />
        <activity
            android:name=".MethodOverloadingActivity"
            android:exported="false" />
        <activity
            android:name=".MethodReturnValueActivity"
            android:exported="false" />
        <activity
            android:name=".MethodActivity"
            android:exported="false" />
        <activity
            android:name=".ForEachActivity"
            android:exported="false" />
        <activity
            android:name=".BreakAndContinueActivity"
            android:exported="false" />
        <activity
            android:name=".DoWhileLoopActivity"
            android:exported="false" />
        <activity
            android:name=".WhileLoopActivity"
            android:exported="false" />
        <activity
            android:name=".ForLoopActivity"
            android:exported="false" />
        <activity
            android:name=".TernaryOperatorActivity"
            android:exported="false" />
        <activity
            android:name=".SwitchStatementActivity"
            android:exported="false" />
        <activity
            android:name=".IfStatementActivity"
            android:exported="false" />
        <activity
            android:name=".ExpressionActivity"
            android:exported="false" />
        <activity
            android:name=".OperasiBooleanActivity"
            android:exported="false" />
        <activity
            android:name=".OperasiPerbandinganActivity"
            android:exported="false" />
        <activity
            android:name=".OperasiMatematikaActivity"
            android:exported="false" />
        <activity
            android:name=".TipeDataArrayActivity"
            android:exported="false" />
        <activity
            android:name=".VariableActivity"
            android:exported="false" />
        <activity
            android:name=".TipeDataStringActivity"
            android:exported="false" />
        <activity
            android:name=".TipeDataBooleanActivity"
            android:exported="false" />
        <activity
            android:name=".TipeDataCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".TipeDataNumberActivity"
            android:exported="false" />
        <activity
            android:name=".HelloWorldActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>